<div class="Border Border-Top"></div>
<mat-toolbar class="d-flex justify-content-between shadow-lg">
  <span class="logo" style="cursor: pointer" routerLink="/" disabled
    >Green Resource Solutions</span
  >
  <div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >menu</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>feed</mat-icon>
        <span>About</span>
      </button>
      <button mat-menu-item routerLink="/services">
        <mat-icon>water_drop</mat-icon>
        <span>Services</span>
      </button>
      <button mat-menu-item routerLink="/contact">
        <mat-icon>send</mat-icon>
        <span>Contact</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
