<footer>
  <mat-toolbar class="footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-md-8 col-xs-12 d-flex justify-content-between">
          <button mat-button routerLink="/about">About</button>
          <button mat-button routerLink="/services">Services</button>
          <button mat-button routerLink="/contact">Contact</button>
        </div>
        <div
          class="
            col-xl-4 col-md-4 col-xs-12
            d-flex
            justify-content-end
            align-items-end
          "
        >
          <p class="mat-caption m-0">
            Developed by
            <a
              class="credits"
              href="https://ctrlq.org/call/7845479545"
              >Goss Gowtham</a
            >
            <a
              style="font-size: 9px !important"
              href="https://www.google.com/search?q=Goss+Gowtham"
            >
              <mat-icon>public</mat-icon></a
            >
          </p>
        </div>
      </div>
      <div class="row d-flex justify-content-end"></div>
    </div>
  </mat-toolbar>
  <div class="Border Border-bottom"></div>
</footer>
