
.footer-bar {
  background: #d8effd;
}
.Border-bottom {
  border-bottom-width: 1px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #84c223, #149a39);
}
.Border-bottom:after { bottom: 0; }
.Border {
  display: block;
  width: 100%;
  min-height: 1px;
  height: 0.2em;
  border: solid 0 #84c223;
}

.credits {
  text-decoration: none !important;
  color: #149a39 !important;
}

footer {
  position:relative;
  width: 100%;
  bottom: 0;
}
