
.mat-raised-button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #149a39 0%,
    #149a39 50%,
    #149a39c7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}


p{
  color: #434547!important;
  font-size: 15px !important;
}
