<div class="container">
  <div class="text-center">
    <h1 class="mt-5 half-underline">Our Services</h1>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header
            class="d-flex justify-content-between align-items-center"
          >
            <mat-panel-title>
              Laboratory Services
            </mat-panel-title>
            <mat-icon class="mx-2">opacity</mat-icon>
          </mat-expansion-panel-header>
          <div class="text-justify">
            <h3 style="font-weight: 500" class="d-flex align-items-center">
              <mat-accordion [togglePosition]="'after'" class="acc-width">
                <mat-expansion-panel  [expanded]="true" class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">airwave</mat-icon> Atmospheric
                      pollution</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Air Sample</li>
                    <li>Stack Emission</li>
                    <li>Ambient Noise Level</li>
                    <li>Work Environment Indoor Air</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">water_drop</mat-icon> Water & Waste Water</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Drinking Water</li>
                    <li>Construction Water</li>
                    <li>Surface Water</li>
                    <li>Ground Water</li>
                    <li>Waste / Sewage Water</li>
                    <li>Swimming Pool Water</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">grass</mat-icon> Soil</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Soil / Sediments</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">gas_meter</mat-icon> Fuel</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Proximate</li>
                    <li>Ultimate</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">restaurant</mat-icon> Food</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Nutrition Labelling</li>
                    <li>Dairy Products & Analogues (Milk and Milk products)</li>
                    <li>Fats, Oils and Fat Emulsions</li>
                    <li>Fruits Vegetables products</li>
                    <li>Nut and Nut products</li>
                    <li>Cereals and Cereal based products</li>
                    <li>Bakery & Confectionary</li>
                    <li>Sugar and Sugar products including Honey</li>
                    <li>Herbs, Spices and Condiments products</li>
                    <li>Snacks, Namkeen and Ready-to-eat products</li>
                    <li>Proprietary foods</li>
                    <li>Beverages (Tea & Coffee)</li>
                    <li>Starch & Starch Products</li>
                    <li>Animal feeds</li>
                    <li>Poultry and poultry products</li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
            </h3>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header
            class="d-flex justify-content-between align-items-center"
          >
            <mat-panel-title>
              Product / Turnkey Services
            </mat-panel-title>
            <mat-icon class="mx-2">tune</mat-icon>
          </mat-expansion-panel-header>
          <div class="text-justify">
            <h3 style="font-weight: 500" class="d-flex align-items-center">
              <mat-accordion [togglePosition]="'after'" class="acc-width">
                <mat-expansion-panel  [expanded]="true" class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">water_drop</mat-icon> Water Treatment plant</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Pressure sand Filters
                    <li>Activated carbon filter</li>
                    <li>Dual media Filter</li>
                    <li>Multi Grade Filters</li>
                    <li>Iron Removal Filters</li>
                    <li>Water Softeners</li>
                    <li>Reverse Osmosis Plant</li>
                    <li>Demineralization Plant</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">water_ec</mat-icon>Sewage Treatment Plant</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Activated Sludge Process</li>
                    <li>Moving Bed Bio Reactor</li>
                    <li>Sequential Batch Reactor</li>
                    <li>Bio filters</li>
                    <li>Membrane Bio Reactor</li>
                    <li>Biozone ( Ozone based Treatment)</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">water_drop</mat-icon>Effluent Treatment Plant (ETP)</mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Chemical Treatment</li>
                    <li>Anaerobic Treatment</li>
                    <li>Biological Treatment</li>
                    <li>Tertiary Treatment</li>
                    <li>Membrane Bio Reactor</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">engineering</mat-icon> Operation and Maintenance Services </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Man Power Supply</li>
                    <li>Technical Consultancy Services</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">manufacturing</mat-icon> Mechanical Evaporator </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Falling Film Evaporator</li>
                    <li>Forced Circulation Evaporator</li>
                    <li>Natural Circulation Evaporator</li>
                    <li>Hybrid Evaporator</li>
                    <li>Agitated Thin Film Dryer / Evaporator</li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <mat-panel-title> <mat-icon class="mx-2">change_circle</mat-icon> Waste Management Services </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ul>
                    <li>Composting</li>
                    <li>Waste to Energy Plants (W2E)</li>
                    <li>Biomethanation</li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
            </h3>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="row my-4 d-flex justify-content-center">
    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6 col-xs-12">
      <img class="my-3" src="../../../assets/svgs/undraw_science.svg" width="100%" height="250" />
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 m-auto">
      <div class=" text-center my-2 mat-captions">
        <p>Collect your sample and test with GRS now!</p>
        <button mat-raised-button (click)="openDialog()">Apply for Testing</button>
      </div>
    </div>
  </div>

</div>
