<div class="container">
  <div class="row my-3 px-3 d-flex justify-content-center">
    <div class="col-8 my-3 mx-auto text-center">
      <img
        src="../../assets/svgs/undraw_feeling_blue_4b7q.svg"
        height="300"
        width="100%"
      />
      <h3>Oops! The page you requested is not found!</h3>
      <button mat-raised-button color="primary" routerLink="/">Go Home</button>
      <p class="mat-caption text-center my-3">
        Contact
        <a class="credits" href="https://ctrlq.org/call/7845479545"
          >Goss Gowtham</a
        >
        <a
          style="font-size: 9px !important"
          href="https://www.google.com/search?q=Goss+Gowtham"
        >
          <mat-icon>public</mat-icon></a
        >
        if you really need it!!
      </p>
    </div>
  </div>
</div>
