<div class="header shadow-lg">
  <div class="row page-heading">
    <div
      class="
        col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-12
        d-flex
        justify-content-center
      "
    >
      <img src="../../../assets/logo.png" class="mx-auto" height="150px" />
    </div>
    <div class="col-xl-10 col-lg-10 col-md-8 col-sm-6 col-xs-12 my-auto">
      <h2 style="color: #149a39" class="my-2 page-heading-primary fade-in-1">
        Green Resource Solutions
      </h2>
      <h3 class="page-heading-secondary fade-in-2">
        Water | Waste Water | Fuel Laboratory Testing service
      </h3>
    </div>
  </div>
</div>
<div class="container">
  <!-- Services Section -->
  <div class="text-center">
    <h1 class="mt-5 text-center half-underline">Our Services</h1>
  </div>
  <div class="row mx-3">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mx-auto my-3">
      <a routerLink="/services" class="horizontal-card">
        <div class="section_our_solution">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="our_solution_category">
                <div class="solution_cards_box">
                  <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="so_top_icon">
                        <img src="../../../assets/svgs/laboratory.svg" />
                      </div>
                      <div class="solu_title">
                        <h3 class="px-2">Laboratory Testing</h3>
                      </div>
                    </div>
                    <div class="solu_description">
                      <p>World class laboratories with water quality check</p>
                      <div class="d-flex justify-content-end align-items-end">
                        <button type="button" class="read_more_btn">
                          View more
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mx-auto my-3">
      <a routerLink="/services" class="horizontal-card">
        <div class="section_our_solution">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="our_solution_category">
                <div class="solution_cards_box">
                  <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="so_top_icon">
                        <img
                          src="../../../assets/svgs/water-drop-recycle.svg"
                        />
                      </div>
                      <div class="solu_title">
                        <h3 class="px-2">Water Management</h3>
                      </div>
                    </div>
                    <div class="solu_description">
                      <p>We manage waste water including industrial wastes</p>
                      <div class="d-flex justify-content-end align-items-end">
                        <button type="button" class="read_more_btn">
                          View more
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mx-auto my-3">
      <a routerLink="/about" class="horizontal-card">
        <div class="section_our_solution">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="our_solution_category">
                <div class="solution_cards_box">
                  <div class="solution_card">
                    <div class="hover_color_bubble"></div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div class="so_top_icon">
                        <img src="../../../assets/svgs/water-drop.svg" />
                      </div>
                      <div class="solu_title">
                        <h3 class="px-2">Qualified Professionals</h3>
                      </div>
                    </div>
                    <div class="solu_description">
                      <p>
                        Our team is filled with qualified professionals to give
                        the best
                      </p>
                      <div class="d-flex justify-content-end align-items-end">
                        <button type="button" class="read_more_btn">
                          About us
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="text-center">
    <h1 class="my-3 text-center half-underline">Contact us</h1>
  </div>
  <div class="row my-4">
    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-6 col-xs-12">
      <img src="../../../assets/svgs/contact_us.svg" width="100%" />
    </div>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-xs-12 m-auto">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <mat-icon>perm_phone_msg</mat-icon>
            </div>
            <div class="col-10">
              <span>
                <a
                  href="https://ctrlq.org/call/9952192416"
                  style="text-decoration: underline !important"
                  >99521 92416</a
                >
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 my-2">
          <div class="row">
            <div class="col-2 my-auto">
              <mat-icon>near_me</mat-icon>
            </div>
            <div class="col-10">
              <span>
                108, Dhanalakshmi Illam,<br />
                Pitchards Road,<br />
                Salem - 636007
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 my-2">
          <div class="row">
            <div class="col-2">
              <mat-icon>mail</mat-icon>
            </div>
            <div class="col-10">
              <span> grssalem@gmail.com </span>
            </div>
          </div>
        </div>
      </div>
      <button
        mat-raised-button
        routerLink="/contact"
        class="px-3 my-2 d-flex align-items-center"
      >
        Get in touch
        <mat-icon style="color: inherit">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
