.mat-icon {
  color: #149a39;
}

.mat-raised-button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.card {
  border-radius: 6px;
  border-top: 4px solid #60D69A !important;
}
.mat-dialog-content {
  max-height: initial;
}
