<div class="container">
  <div class="text-center">
    <h1 class="mt-5 half-underline">Contact us</h1>
  </div>
  <div class="row">
    <ng-container *ngFor="let contact of contactContent">
      <div class="col-sm-4 px-4 my-3">
        <div class="card shadow border-light">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
              <h5 class="card-title mb-0 text-uppercase">{{contact?.title}}</h5>
              <mat-icon>{{contact?.icon}}</mat-icon>
            </div>
            <p class="card-text">{{contact?.content}}</p>
            <div class="text-center">
              <button mat-raised-button (click)="openDialog(contact?.title)">{{contact?.buttonName}}</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row my-4 mx-4">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 my-2">
      <div class="row mx-auto">
        <div class="col-2">
          <mat-icon>perm_phone_msg</mat-icon>
        </div>
        <div class="col-10">
          <span>
            <a
              href="tel:9952192416"
              style="text-decoration: underline !important"
              >99521 92416</a
            > / 
            <a
              href="tel:7200292416"
              style="text-decoration: underline !important"
              >72002 92416</a
            >
          </span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 my-2">
      <div class="row mx-auto">
        <div class="col-2 my-auto">
          <mat-icon>near_me</mat-icon>
        </div>
        <div class="col-10">
          <span>
            108, Dhanalakshmi Illam,<br />
            Pitchards Road,<br />
            Salem - 636007
          </span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 my-2">
      <div class="row mx-auto">
        <div class="col-2">
          <mat-icon>mail</mat-icon>
        </div>
        <div class="col-10">
          <span> grssalem@gmail.com </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 my-3 px-3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.286096956138!2d78.15564021480898!3d11.674124991716216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd25d247ac8deee5e!2sGreen%20Resource%20Solutions!5e0!3m2!1sen!2sin!4v1629541103010!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    </div>
  </div>
</div>
