<div class="container">
  <div class="text-center">
    <h1 class="mt-5 half-underline">About us</h1>
  </div>
  <div class="row my-4 px-3">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="radius d-flex justify-content-center">
        <img
          src="https://via.placeholder.com/700/DDDDDD/000000/?text=Vijayakumar+CEO"
          class="shadow"
        />
      </div>
      <h2 class="text-capitalize text-center my-2">
        Vijayakumar Palanimuthu,<br />
        <span class="text-center">CEO</span>
      </h2>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 my-auto">
      <p class="Border Border-Left px-3">
        Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
