.radius img {
  border-radius: 55% 40% 35% 55% / 30% 50% 55% 30%;
  width: 150px;
  border: 3px solid #d8effd;
  display: flex;
  align-items: center;
}

hr {
  background: linear-gradient(90deg, #84c223, #149a39);
  height: 3px;
}

.Border {
  position: relative;
}

.Border:after {
  display: block;
  content: "";
  position: absolute;
}

.Border-Left:after {
  width: 2px;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, #84c223, #149a39);
}
.Border-Left:after {
  left: 0;
}

.limitTextHeight {
  height: 100px;
  overflow: hidden;
}

p {
  color: #434547!important;
  font-size: 15px !important;
}

h2 {
  overflow: hidden;
  text-align: center;
}
h2:before,
h2:after {
  background: linear-gradient(90deg, #84c223, #149a39);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
h2:before {
  right: 0.5em;
  margin-left: -50%;
}
h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.half-underline {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.half-underline:before,
.half-underline:after {
  background: linear-gradient(90deg, #84c223, #149a39);
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  /*top:-1px;*/
  left: 0%;
  border-bottom: 1px solid #149a39;
}
