.radius img {
  border-radius: 50% 40% 45% 50% / 40% 50% 55% 40%;
  width: 150px;
  border: 3px solid #d8effd;
  display: flex;
  align-items: center;
}

.Border {
  position: relative;
}

.Border:after {
  display: block;
  content: "";
  position: absolute;
}

.Border-Left:after {
  width: 2px;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, #84c223, #149a39);
}
.Border-Left:after {
  left: 0;
}

