
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$grssalem-primary: mat-palette($mat-indigo);
$grssalem-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$grssalem-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$grssalem-theme: mat-light-theme($grssalem-primary, $grssalem-accent, $grssalem-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($grssalem-theme);

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}
html, body { height: 100%; }
body { margin: 0;
  font-family: "Lato", sans-serif; }


.half-underline {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
.half-underline:before,
.half-underline:after {
  background: linear-gradient(90deg, #84c223, #149a39);
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  /*top:-1px;*/
  left: 0%;
  border-bottom: 1px solid #149a39;
}

.mat-icon {
  color: #149a39;
}
