<div class="container" style="height: 80vh;">
  <div class="row my-3 d-flex justify-content-center">
    <div class="col-8 my-3 text-center">
      <img
        src="../../assets/svgs/under_development.svg"
        height="300"
        width="100%"
      />
      <h2 class="mt-2 mb-1">GRS Salem will be live soon!</h2>
      <h3>We're updating the site for your smoother experience.</h3>
      <p class="mat-caption text-center my-3">
        Contact
        <a class="credits" href="https://ctrlq.org/call/7845479545"
          >Goss Gowtham</a
        >
        <a
          style="font-size: 9px !important"
          href="https://www.google.com/search?q=Goss+Gowtham"
        >
          <mat-icon>public</mat-icon></a
        >
        or come back later!
      </p>
    </div>
  </div>
</div>
